<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/assets/styles.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body ng-app="mindMapApp">
    <div ng-controller="mindMapCtrl" class="minMapWrap">
        <div class="menu">
            <button class="btn btn-danger" ng-click="new()">Clear</button>
            <div class="btn btn-info loadFile">
                <span>Upload</span>
                <input id="uploadFile" name="uploadFile" type="file" change-file="load">
            </div>

            <div class="downloadWrap">
                <input class="fileName" type="text" ng-model="fileName">
                <button class="btn btn-info" ng-click="save()">Save</button>
                <div id="downloadLinkWrap"></div>
            </div>

        </div>
        <mind-map class="mindMap" root="json"></mind-map>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="build/init.js"></script>

    </body>
</html>