<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body ng-app="mindMapApp">

    <div ng-controller="mindMapCtrl" class="minMapWrap">
        <mind-map class="mindMap" root="json" on-save="on-save(node, success, fail)"
                  on-delete="on-delete(node, success, fail)" on-insert="on-insert(node, success, fail)" editable></mind-map>
    </div>

    <div class="authentication-bg" ng-controller="authenticationCtrl" ng-if="isAuthenticated()">
        <div class="login" >
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Login</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Login" ng-model="loginName">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password" ng-model="password">
                </div>
                <div class="form-group" ng-show="newUser">
                    <label>Repeat password</label>
                    <input type="password" class="form-control" placeholder="Password" ng-model="passwordRep">
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="newUser"/>New user</label>
                </div>
                <input type="submit" class="submitButton"  ng-value="newUser ? 'Register' : 'Login'" ng-click="newUser ? signup() : login() "/>
            </form>
        </div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/satellizer/satellizer.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="build/init.js"></script>

    </body>
</html>